@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #f97316;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9CA3AF;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6B7280;
}
